.Індивідуальне завдання 2\Personal Work 2\__pycache__
.Індивідуальне завдання 2\Personal Work 2\venv
.Індивідуальне завдання 3\Personal Work 3\__pycache__
.Індивідуальне завдання 3\Personal Work 3\venv
